<nav class="primary-nav" aria-label="Primary navigation">
    <NavLink class="nav-link" href="" Match="NavLinkMatch.All">Home</NavLink>
    <NavLink class="nav-link" href="new-job">New Job</NavLink>
    <NavLink class="nav-link" href="results">Results</NavLink>
</nav>

